# Listas

In [4]:
lista = [1, 7.4, "Henry", True, "Latinoamerica"]

In [5]:
print(lista)

[1, 7.4, 'Henry', True, 'Latinoamerica']

In [6]:
type(lista)

list

In [7]:
lista[2]

'Henry'

In [12]:
lista[1:2]

[7.4]

In [14]:
# Muestra los valores desde la posicion 1 hasta la (4-1)
lista[1:4]

[7.4, 'Henry', True]

In [15]:
# steps
lista[1:4:2]

[7.4, True]

In [16]:
lista

[1, 7.4, 'Henry', True, 'Latinoamerica']

In [17]:
## "append" Para agregar valores a la ultima posicion
lista.append(False)
lista

[1, 7.4, 'Henry', True, 'Latinoamerica', False]

In [24]:
## insert para agregar valores en una posicion determinada, empujando los demas valores a una posicion n+1
lista.insert(3,"Indice 3")
lista

[1, 7.4, 'Henry', 'Indice 3', True, 'Latinoamerica', False]

In [21]:
## index para buscar la "posicion" donde se encuentra el valor especifico
lista.index("Latinoamerica")

6

In [25]:
## remove para quitar la posicion donde se almacena el valor buscado
lista.remove("Indice 3")
lista

[1, 7.4, 'Henry', True, 'Latinoamerica', False]

In [27]:
# pop, borra el contenido de la ultima posicion del arreglo
ultimo_elemento = lista.pop()
print(ultimo_elemento)
print(lista)

Latinoamerica
[1, 7.4, 'Henry', True]

In [28]:
lista.append("Latinoamerica")
lista

[1, 7.4, 'Henry', True, 'Latinoamerica']

In [29]:
## extend (concatenar listas)
segunda_lista = ["Buenos Aires", "Ciudad de Mexico", "Bogota"]
lista.extend(segunda_lista)

In [31]:
## revisamos como quedo hasta ahora
lista

[1,
 7.4,
 'Henry',
 True,
 'Latinoamerica',
 'Buenos Aires',
 'Ciudad de Mexico',
 'Bogota']

In [37]:
## "sort" Para ordenar valores numericos en una lista (de mayor a menor con reverse = True)
lista_numero = [6, 4, 10, 1]
lista_numero.sort(reverse = True)
lista_numero

[10, 6, 4, 1]

In [38]:
## "sort" Para ordenar valores alfabeticos en una lista (de menor a mayor sin reverse = True)
lista_letra = ["c", "a", "b"]
lista_letra.sort()
lista_letra

['a', 'b', 'c']

In [39]:
lista_letra = ["c", "a", "b"]
lista_letra.sort(reverse = True)
lista_letra

['c', 'b', 'a']

In [47]:
## conteniencia para revisar si esta o no el valor en la lista
3 in lista_numero

False

In [48]:
## conteniencia para revisar si esta o no el valor en la lista
4 in lista_numero

True

In [54]:
## Desempaquetar
letra_1, letra_2, letra_3 = "c", "b", "a"

In [56]:
letra_1, letra_2, letra_3 = lista_letras
print(lista_letras)

NameError: name 'lista_letras' is not defined

# Tupla

In [49]:
tupla = ("Python", 4, True, 5.8, "Henry", "Python")
tupla

('Python', 4, True, 5.8, 'Henry', 'Python')

In [50]:
type(tupla)

tuple

In [51]:
tuple(lista_letra)

('c', 'b', 'a')

In [57]:
## contenencia
4 in tupla

True

In [58]:
## contenencia
3 in tupla

False

In [75]:
## count para contar la cantidad de veces que se encuentra el valor ingresado
tupla.count(4)

1

In [60]:
## Empaquetar
edades = 33, 39, 40, 29, 27, 20
edades

(33, 39, 40, 29, 27, 20)

In [61]:
type(edades)

tuple

In [63]:
## Desempaquetar
gustavo, laura, jonny, escarlette, felipe, jimmy = edades
print(gustavo)
print(laura)
print(jonny)
print(escarlette)
print(felipe)
print(jimmy)

33
39
40
29
27
20

# Diccionario

In [64]:
alumnos = {"gustavo": 33, "laura": 39, "jonny": 40}
alumnos

{'gustavo': 33, 'laura': 39, 'jonny': 40}

In [65]:
type(alumnos)

dict

In [66]:
## Caracteristicas de los diccionarios: Acceder a un valor
alumnos["laura"]

39

In [67]:
## Cambiar un valor
alumnos["jonny"] = 25
alumnos

{'gustavo': 33, 'laura': 39, 'jonny': 25}

In [69]:
## Si encuentra algo lo modifica, sino lo agrega
alumnos["escarlette"] = 29
alumnos

{'gustavo': 33, 'laura': 39, 'jonny': 25, 'escarlette': 29}

In [70]:
## eliminar llave-valor
del alumnos["gustavo"]
alumnos

{'laura': 39, 'jonny': 25, 'escarlette': 29}

In [71]:
## acceder a todas las llaves
alumnos.keys()

dict_keys(['laura', 'jonny', 'escarlette'])

In [72]:
## acceder a valor
alumnos.values()

dict_values([39, 25, 29])

In [73]:
## tupla de llave-valor
alumnos.items()

dict_items([('laura', 39), ('jonny', 25), ('escarlette', 29)])

# Iteradores e iterables

In [77]:
## Iteracion listas o tuplas
iterable = [1, 3, 5, 7, 9]
for numero in iterable:
    print(numero * 2)

2
6
10
14
18

In [78]:
## Iteracion en texto
texto = "Python es muy usado en ciencia de datos"
for letra in texto:
    print(letra.upper(), end= "")

PYTHON ES MUY USADO EN CIENCIA DE DATOS

In [79]:
## para que salga de manera vertical le ponemos \n en el end
texto = "Python es muy usado en ciencia de datos"
for letra in texto:
    print(letra.upper(), end= " \n")

P
Y
T
H
O
N

E
S

M
U
Y

U
S
A
D
O

E
N

C
I
E
N
C
I
A

D
E

D
A
T
O
S

In [80]:
## Iteracion sobre diccionarios
paises = {"Espa単a": "Europa", "Mexico": "America", "Egipto": "Africa"}

In [84]:
for pais in paises:
    print(pais)

Espa単a
Mexico
Egipto

In [85]:
for pais in paises.keys():
    print(pais)

Espa単a
Mexico
Egipto

In [86]:
for pais in paises.values():
    print(pais)

Europa
America
Africa

In [88]:
for continente in paises.values():
    print(continente)

Europa
America
Africa

In [89]:
for tupla in paises.items():
    print(tupla)

('Espa単a', 'Europa')
('Mexico', 'America')
('Egipto', 'Africa')

# Iterador

In [2]:
colores = ["rojo", "verde", "azul"]

In [5]:
iterador_colores = iter(colores)
print(iterador_colores)

<list_iterator object at 0x0000016581E50AF0>

In [92]:
next(iterador_colores)

'rojo'

In [93]:
next(iterador_colores)

'verde'

In [94]:
next(iterador_colores)

'azul'

In [95]:
## En este ultimo iterador, como no hay mas iteraciones entonces arrojara un error
next(iterador_colores)

StopIteration:

In [96]:
## En este caso si agregamos None, entonces el iterador no arrojara el error
next(iterador_colores, None)

# Funcion zip

In [98]:
nombre = ["Julian", "Esperanza", "Gerardo"]
edades = [33, 39, 42]

In [99]:
combinacion = zip(nombre, edades)
for tupla in combinacion:
    print(tupla)

('Julian', 33)
('Esperanza', 39)
('Gerardo', 42)

# Compresion de listas

In [100]:
frutas = ["manzana", "banano", "mango", "fresa"]
nueva_lista = []

for fruta in frutas:
    if "o" in fruta:
        nueva_lista.append(fruta)

print(nueva_lista)

['banano', 'mango']

In [101]:
## esto es una forma de reescribir el codigo pero mas compresible
nueva_lista_2 = [fruta for fruta in frutas if "o" in fruta]
nueva_lista_2

['banano', 'mango']